<?php $brands = $block->getBrands(); 
if ($brands): ?>
    <div class="footer_brand_logo">
        <p>
            <?php 
            foreach ($brands as $_brand): ?>
                <a href="<?php echo $block->getBrandUrl($_brand); ?>"><img src="<?php echo $block->getBrandImage($_brand); ?>" alt="<?php $_brand->getBrandName(); ?>" height="150" width="150"></a>
                <?php endforeach; ?>
        </p>
    </div>
    <?php endif;
?>
