<?php 
$brand = $block->getBrandInfo();
$product_collection = $block->getProductCollection($brand);
$category_ids = '';
foreach ($product_collection as $_product){
    $category_ids.= implode(",",$_product->getCategoryIds()).",";
}
$category_ids_array = array_unique(explode(",",trim($category_ids,",")));
$category_collection = $block->getCategoryCollection($category_ids_array);
?>
<div class="page-title">     
    <h1><?php echo $brand->getBrandName(); ?></h1>
</div>

<div class="graybox"> 
    <p class="category_image_banner">
        <a href="javascript:void(0)"><img src="<?php echo $block->getBrandBanner($brand); ?>"></a>
    </p>
    <p><?php echo $brand->getDescription(); ?></p> <br/>
    <h2>Category Listing</h2>
    <ul class="brand_grid first last odd">
        <?php 
        foreach ($category_collection as $category): 
            ?>
            <li>
                <a href="<?php echo $category->getUrl()."?brand=".$brand->getBrandValue(); ?>"><img src="<?php echo $category->getImageUrl() ?>" alt="<?php echo $category->getName(); ?>"/></a>
                <div class="brand_pro_layer">
                    <a class="brand_name" href="<?php echo $category->getUrl()."?brand=".$brand->getBrandValue(); ?>"><?php echo $category->getName(); ?></a>
                </div>
            </li>
            <?php 
            endforeach; ?>
    </ul>
</div>